/ p#notice
/   = notice
/ h1
/   | 今日出来たこと
/ table
/   thead
/     tr
/       th
/         | 内容
/       th[colspan="2"]
/   tbody
/     - @success_records.each do |success_record|
/       tr
/         td
/           = success_record.body
/         td
/           = link_to '表示', success_record
/         td
/           = link_to '編集', edit_success_record_path(success_record)
/         td
/           = link_to '削除', success_record, method: :delete, data: { confirm: '本当によろしいですか？' }
/ br
/ = link_to '今日出来たことを記録する', new_success_record_path
