section.hero.is-success.is-bold
  .hero-body
    .container
      h1.title
        | 怒りの記録を作成
      h2.subtitle
section.section
  .container.is-size-5.is-size-6-touch
    = render 'form', anger_record: @anger_record
